@import url('https://fonts.googleapis.com/css?family=Kantumruy:300,400,700');

body {
  background: #77747733;
  font-family: 'Kantumruy', sans-serif;
  margin: 0;
  padding: 0;
}

.persons {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.container {
  max-width: 80%;
  margin: 0 auto;
}